# Summary of Recommendations

## Identified factors that seem to affect coupon acceptance
- Browsed the data set and evaluated the number of unique values in each column. If there is only one unique value, that is not relevant to the outcome. There were atleast two values in each column
- Next if there are any columns with significant dataset leaning towards one outcome. Like for example, out of a total number of records if most were causing the outcome to be one result, that may not be useful column. I observed that car column has a large number of missing values

## Findings

In [2]:
# import libraries
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [14]:
# read the data
df = pd.read_csv('data/coupons.csv')
df

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,1
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,0,1,1
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,1,1,0,1,0
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0

In [4]:
df.nunique()

destination              3
passanger                4
weather                  3
temperature              3
time                     5
coupon                   5
expiration               2
gender                   2
age                      8
maritalStatus            5
has_children             2
education                6
occupation              25
income                   9
car                      5
Bar                      5
CoffeeHouse              5
CarryAway                5
RestaurantLessThan20     5
Restaurant20To50         5
toCoupon_GEQ5min         1
toCoupon_GEQ15min        2
toCoupon_GEQ25min        2
direction_same           2
direction_opp            2
Y                        2
dtype: int64

In [7]:
df.shape[0]

12684

In [ ]:
# any columns with large number of missing values?
df.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [15]:
# value counts for distinct values destination column
df['destination'].value_counts()

# How does coupon usage vary by destination?
df.groupby('destination')['Y'].mean()

# How does coupon usage vary by destination and weather?
df.groupby(['destination', 'weather'])['Y'].mean()

# How does coupon usage vary by destination, weather and age?
df.groupby(['destination', 'weather', 'age'])['Y'].mean()

# How does coupon usage vary by destination, weather, age and time?
df.groupby(['destination', 'weather', 'age', 'time'])['Y'].mean()

# show rows where mean coupon usage is greater than 0.65
df.groupby(['destination', 'weather', 'age', 'time'])['Y'].mean().reset_index(name='mean_coupon_usage').query('mean_coupon_usage > 0.65')

# show rows where mean coupon usage is greater than 0.65 and destination is 'No Urgent Place'
df.groupby(['destination', 'weather', 'age', 'time'])['Y'].mean().reset_index(name='mean_coupon_usage').query('mean_coupon_usage > 0.65 and destination == "No Urgent Place"')

# sort the rows by mean_coupon_usage in descending order
mpst_used_coupon_demographic = df.groupby(['age','destination', 'weather', 'time'])['Y'].mean().reset_index(name='mean_coupon_usage').query('mean_coupon_usage > 0.65').sort_values(by='mean_coupon_usage', ascending=False)

In [17]:
# lets now do most used coupon types
# How does coupon usage vary by coupon type?
df.groupby('coupon')['Y'].mean()

# which coupon type is least used
df.groupby('coupon')['Y'].mean().idxmin()

'Bar'